<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css"/>
          <link rel="icon" href="/img/pic.png">
        <title>About</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This website was created by Naman Mishra. It uses data from API servers.</p>
            <img class="portrait" src="/img/img.png"/>
            <p>Created by {{name}}</p>
        </div>
        {{>footer}}
    </body>
</html>