<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css"/>
        <link rel="icon" href="/img/pic.png">
        <title>Help</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This is a formal help page</p>
        </div>
        {{>footer}}
    </body>
</html>